body {
    margin: 0;
}

.landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distorcion {
    width: 640px;
    height: 820px;
    align-self: flex-end;
}

.intro {
    align-self: center;
}

.intro h2 {
    font-size: 50px;
}

.intro p {
    font-size: 25px;
}

@media (max-width: 1290px) {
    .landing {
        flex-direction: column;
    }

    .distorcion {
        max-width: 90vw;
        align-self: center;
    }

    .intro {
        margin-top: 50px;
    }
}
